.background {
  position: fixed;
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  z-index: -3;
  filter: blur(15px);
}

nav {
  color: rgb(255, 139, 62);
  font-size: 1.3vw;
  font-family: 'Pacifico', cursive;
  grid-area: nav;
  margin-left: 20%;
  margin-right: 20%;
}

nav li {
  display: inline;
  padding: 2em;
  background-color: rgba(0, 0, 0, 0.582);
  border-radius: 15%;  
}

.cv {
  background-color: rgba(214, 101, 124, 0.568);
}

li a:hover {
  color: white;
}

li:hover {
  background-color: rgba(214, 101, 124, 0.568);
}

nav a{
  color: rgb(255, 139, 62);
}








