.background {
  position: fixed;
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  z-index: -3;
  filter: blur(15px);
}

nav {
  color: rgb(255, 139, 62);
  font-size: 1.3vw;
  font-family: 'Pacifico', cursive;
  grid-area: nav;
  text-align: center;
}

nav li {
  display: inline;
  padding: 2vw;
  background-color: rgba(0, 0, 0, 0.582);
 text-align: center;  
 border-radius: 15%;
}

.cv {
  background-color: rgba(214, 101, 124, 0.568);
}

li a:hover {
  color: white;
}

li{
  color: rgb(255, 139, 62);
  font-size: 1em;
  font-family: 'Pacifico', cursive;
}

nav li:hover {
  background-color: rgba(214, 101, 124, 0.568);
}

nav a{
  color: rgb(255, 139, 62);
}

.information {
grid-area: information;
}

h1 {
  color: rgb(255, 139, 62);
  font-size: 1.3em;
  font-family: 'Pacifico', cursive;
  text-align: center;
  text-decoration: underline;
  margin-left: -5%;
}

.paragraph {
  color: rgb(255, 139, 62);
  font-size: 1em;
  font-family: 'Pacifico', cursive;
  width: 90%;
  margin-left: 2em;
}

p{
  color: rgb(255, 139, 62);
  font-size: 1em;
  font-family: 'Pacifico', cursive;
  width: 90%;
  margin-left: 2em;
}

h2 {
  color: rgb(255, 139, 62);
  font-size: 1.3em;
  text-align: center;
  font-family: 'Pacifico', cursive;
  text-decoration: underline;
}

h3 {
  color: rgb(255, 139, 62);
  font-size: 1.3em;
  text-align: center;
  font-family: 'Pacifico', cursive;
  text-decoration: underline;
}

h4 {
  color: rgb(255, 139, 62);
  font-size: 1.3em;
  text-align: center;
  font-family: 'Pacifico', cursive;
  text-decoration: underline;
}

.title {
  text-decoration: underline;
}

.experience {
grid-area: experience;
}

#address::after{
  content: "\a";
  white-space: pre;
}

#email::after{
  content: "\a";
  white-space: pre;
}

.title::after{
  content: "\a";
  white-space: pre;
}

#college::after{
  content: "\a";
  white-space: pre;
}

#hospital::after{
  content: "\a";
  white-space: pre;
}

#shop::after{
  content: "\a";
  white-space: pre;
}


.information {
  color: rgb(255, 139, 62);
  font-size: 1em;
  font-family: 'Pacifico', cursive;
  text-align: center;
  margin-left: 5%;
}

.statement {
grid-area: statement;
}

.grades {
grid-area: grade;
color: rgb(255, 139, 62);
font-size: 1em;
font-family: 'Pacifico', cursive;
}

body {
display: grid;
grid-template-columns: 100%;
grid-template-rows: 15% 85%;
grid-template-areas: "nav"
"details";
width: 100%;
height: 100vh;
margin: 0em;
}

.details {
display: grid;
grid-template-columns:50% 50%;
grid-template-rows: 15% 35% 35% ;
grid-template-areas:"information information"
"statement experience"
"grade grade";
background-color: rgba(0, 0, 0, 0.582);
height: 100vh;
width: 100%;
}

li:last-of-type{
display: none;
}

.shownav{
display: none;
}










