h1 {
    color: rgb(255, 139, 62);
    font-size: 6vw;
   font-family: 'Pacifico', cursive;
   grid-area: header;
   
   }

h2 {
  color: rgb(255, 139, 62);
    font-size: 6vw;
   font-family: 'Pacifico', cursive;
   grid-area: header2;

}

nav {
  color: rgb(255, 139, 62);
  font-size: 2vw;
  font-family: 'Pacifico', cursive;
  grid-area: nav;
  
}

p {
  color: rgb(255, 139, 62);
  font-size: 2vw;
  font-family: 'Pacifico', cursive;

}

body {
  background-image: url(https://media.giphy.com/media/26tn33aiTi1jkl6H6/giphy.gif);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin-left: 15%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas: "nav"
  "header"
  "header2";

}